*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #6563FF;
  background-image: url('../public/bg_img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box{
 margin: auto;
 background-color: #F8F8F8;
 border-radius: 6px;
 width: 550px;
 height: 550px;
 position: relative;
}
.confetti{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  aspect-ratio: 1 / 1;
}

.card{
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: transform 800ms;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card img{
  border-radius: 4px;
}

.view{
  position: absolute;
  backface-visibility: hidden;
}

.back-view{
  transform: rotateY(180deg);
}