.modal-bg {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: aliceblue;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.modal-bg.open{
    opacity: 1;
    display: block;
}

.modal {
    position: relative;
    top: 40%;
    left: 0%;
    transition: all 1s ease;
    animation: openModalFromTop 0.4s ease;
    /* transform: translateY(-50%); */
}
@keyframes openModalFromTop {
  0% {
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(0%);
  }
}

.modal-content {
    position: relative;
    border-radius: 4px;
    background-color: #fefefe;
    margin: auto;
    padding: 32px 32px 0px;
    border: 1px solid #888;
    width: 400px;
    text-align: center;
}

.restart-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.restart-btn>.btn {
    background: #2c0081;
    color: white;
    padding: 7px 16px;
    border-radius: 2px;
    font-size: 14px;
}

.btn:hover{
    background: #2b0081df;
}